<?xml version="1.0" encoding="ISO-8859-1" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="2.4"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<description>ws:inbound-gateway sample</description>

	<!-- Servlets -->
	<servlet>
		<servlet-name>spring-echoWS</servlet-name>
		<servlet-class>org.springframework.ws.transport.http.MessageDispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>WEB-INF/spring-echoWS-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>spring-searchCarWS</servlet-name>
		<servlet-class>org.springframework.ws.transport.http.MessageDispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>WEB-INF/spring-searchCarWS-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>spring-addBookingWS</servlet-name>
		<servlet-class>org.springframework.ws.transport.http.MessageDispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>WEB-INF/spring-addBookingWS-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!--Servlets Mapping -->
	<servlet-mapping>
		<servlet-name>spring-echoWS</servlet-name>
		<url-pattern>/echoService/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>spring-searchCarWS</servlet-name>
		<url-pattern>/searchCarService/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>spring-addBookingWS</servlet-name>
		<url-pattern>/addBookingService/*</url-pattern>
	</servlet-mapping>

	<!-- Welcome File -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>